@import "../scss/global.scss";

/*
=====================================================
Extra small devices (portrait phones, less than 320px)
======================================================
*/
@media (max-width: 319.98px) {
   .header-area {
      .navbar {
         padding: 0px 0;
      }

      .nav-area {
         width: 100%;
         display: none;

         .navbar-nav {
            display: block;
            width: 100%;
            padding-top: 25px;
         }

         .nav-item {
            display: block;
            margin-left: 0;

            .nav-link {
               text-align: left;
               border-top: 1px solid #e1e1e1;
               padding: 9px 0;
            }
         }
      }

      .hire-me {
         a.btn {
            display: none;
         }
      }

      .nav-toggle-btn {
         display: flex;

         i {
            font-size: 36px;
         }
      }

      .header-search-wrapper.open-search {
         .search-wrapper {
            min-width: 200px;
            top: calc(100% + 15px);
            position: absolute;
         }
      }

      .sidenav_wrapper {
         min-width: 280px;

         .nav-content-area {
            padding-left: 30px;
         }

         .side_navbar {
            li {
               .dropdown-link {
                  &:after {
                     right: -100px;
                  }
               }
            }
         }
      }

   }

   .hero-section {
      .hero-content {
         padding-top: 20px;
         padding-bottom: 50px;

         .title-one {
            font-size: 28px !important;

            span {
               font-size: 28px !important;
            }
         }

         .title-tow {
            font-size: 16px !important;
         }

         .title-three {
            font-size: 28px !important;

            span {
               font-size: 28px !important;
            }
         }

         .line-style {
            margin-top: 9px;
         }

         .hero-btn {
            .btn {
               padding: 0.7em .70em;
            }
         }
      }

      .img-col-1 {
         display: none;

         .hero-img-1 {
            margin-top: 23px;
            display: none;
         }
      }

      .img-col-2 {
         display: flex;

         .hero-img-2 {
            display: flex;
            margin-top: 0px;
         }
      }

      .shape1,
      .shape2,
      .shape3,
      .shape4,
      .shape5,
      .shape6,
      .shape7,
      .shape8 {
         display: none;
      }
   }

   .about-section {
      padding: 50px 0px;

      .about-img {
         img {
            margin-bottom: 0px;
         }

         .iq-banner {
            bottom: 100px;
            left: 60px;
         }
      }

      .about-content {
         padding-top: 20px !important;
         padding-bottom: 0px !important;

         .about-title {
            .line-style {
               margin-top: 9px !important;
            }

            .title-four {
               font-size: 17px !important;
            }

            .title-three {
               font-size: 21px;
            }
         }

         .about-contents {
            .about-delets1 {
               display: none;
            }

            .about-delets2 {
               display: flex;
            }

            .btn {
               margin-top: 0px;
            }
         }
      }
   }

   .timeline {
      padding: 50px 0px;

      .nav-tabs {
         .nav-item {
            .nav-link {
               margin-right: 6px;
               margin-bottom: 6px;
               border-radius: .25rem;
               padding: 15px 25px;
            }
         }
      }

      .tab-content {
         .tab-pane {
            margin-top: 10px;

            .timeline-detels {
               padding-bottom: 15px;

               .timeline-title {
                  .line-style {
                     margin-top: 9px !important;
                  }

                  .title-four {
                     font-size: 16px !important;
                  }

                  .title-three {
                     font-size: 17px;
                  }
               }
            }

            .award-box {
               padding: 5px 5px;
               margin: 5px 5px;
            }

            .timeline-contents {
               .btn {
                  display: none;
               }
            }
         }
      }
   }

   .service-section {
      padding: 50px 0px;

      .service-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 17px !important;
         }

         .title-three {
            font-size: 20px;
         }

      }
   }

   .portfolio-section {
      padding: 50px 0px;

      .portfolio-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 17px !important;
         }

         .title-three {
            font-size: 20px;
         }
      }
   }

   .pricing {
      padding: 50px 0px;

      .pricing-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 17px !important;
         }

         .title-three {
            font-size: 20px;
         }
      }

      .pricing-card {
         margin-bottom: 0px;
         margin-top: 30px;
      }
   }

   .testimonial {
      padding: 50px 0px;

      .testimonial-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 17px !important;
         }

         .title-three {
            font-size: 20px;
         }
      }

      .testimonial-contents {
         p {
            margin-bottom: 20px;
         }

         .btn {
            display: none;
         }
      }

      .testimonial-prev {
         .review-client {
            padding: 15px;

            .client-content {
               i {
                  display: none;
               }

            }

            .star {
               margin-left: 20px !important;
            }
         }
      }
   }

   .blog-section {
      padding: 50px 0px;

      .blog-title1 {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 17px !important;
         }

         .title-three {
            font-size: 20px;
         }
      }

      .single-blog-post {
         margin-top: 30px;
         margin-bottom: 0px;

         .blog-content {
            padding: 15px;

            ul {
               li {
                  font-size: 14px;

                  a {}
               }
            }
         }
      }

   }

   .blog-details-content {
      .social {
         span {}

         ul {
            display: block;
            float: none;

            li {
               a {
                  i {
                     margin-right: 8px !important;
                  }
               }
            }
         }
      }
   }

   .widget-sidebar {
      .sidebar-widget {
         margin-top: 30px;
      }
   }

   .contact-section {
      padding: 50px 0px;

      .contact-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 17px !important;
         }

         .title-three {
            font-size: 20px;
         }
      }

      .info-box {
         margin-top: 30px;
         margin-bottom: 0px;

         .desc {
            .title {
               font-size: 20px
            }
         }
      }
   }

   .footer {
      .social-container {
         text-align: center;

         .social-icons {
            text-align: center;
         }
      }

      .author {
         text-align: center;
         margin-top: 5px;
      }
   }

   .great-start {
      padding: 50px 0px;

      .great-start-contain {

         h4 {
            font-size: 30px;
         }
      }
   }

   .portfolio-details {
      padding: 50px 0px;

      .portfolio-details-content {
         .portfolio-details-post {
            .action {
               ul {
                  padding: 20px 0px;


                  li {
                     margin: 20px 0px;
                     padding-right: 5px;

                     a {
                        span {
                           display: none;
                        }
                     }
                  }
               }
            }
         }

         .social {
            ul {
               display: block;
               float: none;

               li {
                  a {
                     i {
                        margin-right: 8px !important;
                     }
                  }
               }
            }
         }
      }
   }

   .features-area-two {
      padding: 50px 0px;

      .services-right-image {
         display: none;
      }

      .services-content {
         .features-title {
            .text-line {
               .line-style {
                  margin-top: 7px;
               }

               .title-four {
                  font-size: 16px;
               }
            }

            .title-three {
               font-size: 20px;
            }
         }
      }
   }

   .faq-section {
      padding: 50px 0px;

      .faq-contains {
         .faq-title {
            .text-line {
               .line-style {
                  margin-top: 7px;
               }

               .title-four {
                  font-size: 17px
               }
            }

            .title-three {
               font-size: 20px;
            }
         }
      }
   }
}

;

/*
=====================================================
Extra small devices (portrait phones, less than 576px)
======================================================
*/
@media (min-width: 320px) and (max-width: 575.98px) {
   .header-area {
      .navbar {
         padding: 0px 0;
      }

      .nav-area {
         width: 100%;
         display: none;

         .navbar-nav {
            display: block;
            width: 100%;
            padding-top: 25px;
         }

         .nav-item {
            display: block;
            margin-left: 0;

            .nav-link {
               text-align: left;
               border-top: 1px solid #e1e1e1;
               padding: 9px 0;
            }
         }
      }

      .hire-me {
         a.btn {
            display: none;
         }
      }

      .nav-toggle-btn {
         display: flex;
      }

      .header-search-wrapper.open-search {
         .search-wrapper {
            min-width: 215px;
            top: calc(100% + 15px);
            position: absolute;
         }
      }

      .sidenav_wrapper {
         min-width: 280px;

         .nav-content-area {
            padding-left: 30px;
         }

         .side_navbar {
            li {
               .dropdown-link {
                  &:after {
                     right: -100px;
                  }
               }
            }
         }
      }

   }

   .hero-section {
      .hero-content {
         padding-top: 20px;
         padding-bottom: 50px;

         .title-one {
            font-size: 34px !important;

            span {
               font-size: 34px !important;
            }
         }

         .title-tow {
            font-size: 22px !important;
         }

         .title-three {
            font-size: 28px !important;

            span {
               font-size: 28px !important;
            }
         }

         .line-style {
            margin-top: 12px;
         }
      }

      .img-col-1 {
         display: none;

         .hero-img-1 {
            margin-top: 23px;
            display: none;
         }
      }

      .img-col-2 {
         display: flex;

         .hero-img-2 {
            display: flex;
            margin-top: 0px;
         }
      }

      .shape1,
      .shape2,
      .shape3,
      .shape4,
      .shape5,
      .shape6,
      .shape7,
      .shape8 {
         display: none;
      }
   }

   .about-section {
      padding: 50px 0px;

      .about-img {
         img {
            margin-bottom: 0px;
         }

         .iq-banner {
            bottom: 120px;
            left: 77px;
         }
      }

      .about-content {
         padding-top: 20px !important;
         padding-bottom: 0px !important;

         .about-title {
            .line-style {
               margin-top: 9px !important;
            }

            .title-four {
               font-size: 22px !important;
            }

            .title-three {
               font-size: 24px;
            }
         }

         .about-contents {
            .about-delets1 {
               display: none;
            }

            .about-delets2 {
               display: flex;
            }

            .btn {
               margin-top: 0px;
            }
         }
      }
   }

   .timeline {
      padding: 50px 0px;

      .nav-tabs {
         .nav-item {
            .nav-link {
               margin-bottom: 10px;
               border-radius: .25rem;
               padding: 15px 25px;
            }
         }
      }

      .tab-content {
         .tab-pane {
            .timeline-detels {
               padding-bottom: 15px;

               .timeline-title {
                  .line-style {
                     margin-top: 9px !important;
                  }

                  .title-four {
                     font-size: 18px !important;
                  }

                  .title-three {
                     font-size: 20px;
                  }
               }
            }

            .award-box {
               padding: 15px 15px;
            }

            .timeline-contents {
               .btn {
                  display: none;
               }
            }
         }
      }
   }

   .service-section {
      padding: 50px 0px;

      .service-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 22px !important;
         }

         .title-three {
            font-size: 24px;
         }

      }
   }

   .portfolio-section {
      padding: 50px 0px;

      .portfolio-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 24px;
         }
      }
   }

   .pricing {
      padding: 50px 0px;

      .pricing-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 24px;
         }
      }

      .pricing-card {
         margin-bottom: 0px;
         margin-top: 30px;
         .pricing-wrap{
            a.link{
               margin: 20px 33.3% 0px 33.3%;
            }
         }
      }
   }

   .testimonial {
      padding: 50px 0px;

      .testimonial-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 24px;
         }
      }

      .testimonial-contents {
         p {
            margin-bottom: 20px;
         }

         .btn {
            display: none;
         }
      }

      .testimonial-prev {
         .review-client {
            padding: 15px;

            .client-content {
               i {
                  display: none;
               }

            }

            .star {
               margin-left: 20px !important;
            }
         }
      }
   }

   .blog-section {
      padding: 50px 0px;

      .blog-title1 {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 24px;
         }
      }

      .single-blog-post {
         margin-top: 30px;
         margin-bottom: 0px;

         .blog-content {
            padding: 15px;
         }
      }

   }

   .pagination-area {
      margin-bottom: 30px;
      margin-top: 30px;
   }

   .contact-section {
      padding: 50px 0px;

      .contact-title {
         .line-style {
            margin-top: 9px !important;
         }

         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 24px;
         }
      }

      .info-box {
         margin-top: 30px;
         margin-bottom: 0px;
      }
   }

   .footer {
      .social-container {
         text-align: center;

         .social-icons {
            text-align: center;
         }
      }

      .author {
         text-align: center;
         margin-top: 5px;
      }
   }

   .great-start {
      padding: 50px 0px;

      .great-start-contain {

         h4 {
            font-size: 30px;
         }
      }
   }

   .portfolio-details {
      padding: 50px 0px;

      .portfolio-details-content {
         .portfolio-details-post {
            .action {
               ul {
                  padding: 20px 0px;

                  li {
                     margin: 20px 10px;
                     padding-right: 5px;

                     a {
                        span {
                           display: none;
                        }
                     }
                  }
               }
            }
         }

         .social {
            ul {
               display: block;
               float: none;

               li {
                  a {
                     i {
                        margin-right: 8px !important;
                     }
                  }
               }
            }
         }
      }
   }

   .features-area-two {
      padding: 50px 0px;

      .services-right-image {
         display: none;
      }

      .services-content {
         .features-title {
            .text-line {
               .line-style {
                  margin-top: 9px;
               }

               .title-four {
                  font-size: 20px;
               }
            }

            .title-three {
               font-size: 24px;
            }
         }
      }
   }

   .faq-section {
      padding: 50px 0px;

      .faq-contains {
         .faq-title {
            .text-line {
               .line-style {
                  margin-top: 7px;
               }

               .title-four {
                  font-size: 17px
               }
            }

            .title-three {
               font-size: 20px;
            }
         }
      }
   }
}

;

@media (min-width: 400px) and (max-width: 575.98px) {
   .about-section {
      padding: 50px 0px;

      .about-img {
         margin-left: 29px;

         img {
            margin-bottom: 0px;
         }

         .iq-banner {
            bottom: 150px;
            left: 170px;
         }
      }
   }
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
======================================================
*/
@media (min-width: 576px) and (max-width: 767.98px) {
   .header-area {
      .navbar {
         padding: 15px 0;
      }

      .nav-area {
         width: 100%;
         display: none;

         .navbar-nav {
            display: block;
            width: 100%;
            padding-top: 25px;
         }

         .nav-item {
            display: block;
            margin-left: 0;

            .nav-link {
               text-align: left;
               border-top: 1px solid #e1e1e1;
               padding: 9px 0;
            }
         }
      }

      .hire-me {
         a.btn {
            display: none;
         }
      }

      .nav-toggle-btn {
         display: flex;
      }

      .header-search-wrapper.open-search {
         .search-wrapper {
            min-width: 440px;
         }
      }

      .sidenav_wrapper {
         min-width: 320px;

         .nav-content-area {
            padding-left: 30px;
         }
      }
   }

   .hero-section {
      .hero-content {
         padding-top: 50px;
         padding-bottom: 80px;

         .title-one {
            font-size: 40px !important;

            span {
               font-size: 40px !important;
            }
         }

         .title-tow {
            font-size: 30px !important;
         }

         .title-three {
            font-size: 40px !important;

            span {
               font-size: 40px !important;
            }
         }

         .breadcrumb {
            margin-bottom: 0px;
         }
      }

      .img-col-1 {
         display: none;

         .hero-img-1 {
            margin-top: 23px;
            display: none;
         }
      }

      .img-col-2 {
         display: flex;

         .hero-img-2 {
            display: flex;
            margin-top: 0px;
         }
      }

      .shape1,
      .shape2,
      .shape3,
      .shape4,
      .shape5,
      .shape6,
      .shape7,
      .shape8 {
         display: none;
      }
   }

   .about-section {
      .about-img {
         img {
            margin-bottom: 0px;
         }
      }

      .about-content {
         padding-top: 50px !important;
         padding-bottom: 0px !important;

         .about-contents {
            .about-delets1 {
               display: none;
            }

            .about-delets2 {
               display: flex;
            }
         }
      }
   }

   .timeline {
      .nav-tabs {
         .nav-item {
            .nav-link {
               margin-right: 10px;
               border-radius: .25rem;
               padding: 15px 20px;
            }
         }
      }

      .tab-content {
         .tab-pane {
            .timeline-detels {
               padding-bottom: 30px;
            }

            .award-box {
               margin: 15px 40px;
            }

            .timeline-contents {
               .btn {
                  display: none;
               }
            }
         }
      }
   }

   .portfolio-section {
      .portfolio-filter {
         float: left;
      }
   }
   .pricing {
      .pricing-card{
         .pricing-wrap{
            a.link{
               margin: 20px 37.3% 0px 37.3%;
            }
         }
      }
   }
   .testimonial {
      .testimonial-title {
         margin-bottom: 30px !important;
      }

      .testimonial-contents {
         .btn {
            display: none;
         }
      }

      .owl-theme {
         .owl-dots {
            float: none;
            margin-left: 0px;
            margin-top: 30px !important;
         }
      }
   }

   .pagination-area {
      margin-bottom: 30px;
   }

   .pag-area {
      margin-bottom: 0px;
   }

   .contact-section {
      .info-box {
         margin-bottom: 30px;
      }
   }

   .footer {
      .social-container {

         .social-icons {
            text-align: center;
         }
      }

      .author {
         text-align: center;
         margin-top: 5px;
      }
   }

   .portfolio-details {
      .portfolio-details-content {
         .portfolio-details-post {
            .action {
               ul {
                  padding: 20px 0px;

                  li {
                     margin: 20px 0px;
                     padding-right: 5px;

                     a {
                        span {
                           display: none;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .features-area-two {
      .services-right-image {
         display: none;
      }
   }
}

;

/*
=====================================================
Medium devices (tablets, 768px and up)
======================================================
*/
@media (min-width: 768px) and (max-width: 991.98px) {
   .header-area {
      .navbar {
         padding: 15px 0;
      }

      .nav-area {
         width: 100%;
         display: none;

         .navbar-nav {
            display: block;
            width: 100%;
            padding-top: 25px;
         }

         .nav-item {
            display: block;
            margin-left: 0;

            .nav-link {
               text-align: left;
               border-top: 1px solid #e1e1e1;
               padding: 9px 0;
            }
         }
      }

      .hire-me {
         a.btn {
            display: none;
         }
      }

      .nav-toggle-btn {
         display: flex;
      }
   }

   .hero-section {
      .content-title {
         .hero-content {
            .line-style {
               margin-top: 12px;
            }

            .title-one {
               font-size: 38px;

               span {
                  font-size: 38px;
               }
            }

            .title-tow {
               font-size: 24px !important;
            }

            .title-three {
               font-size: 30px !important;

               span {
                  font-size: 30px;
               }
            }
         }
      }

      .img-col-1 {
         display: flex;

         .hero-img-1 {
            margin-top: 0px;
            display: flex;
         }
      }

      .img-col-2 {
         display: none;

         .hero-img-2 {
            display: none;
            margin-top: 0px;
         }
      }

      .content-title {
         .hero-content {
            padding-top: 50px;
            padding-bottom: 80px;
         }
      }
   }

   .about-section {
      .about-img {
         .iq-banner {
            bottom: 125px;
            left: 110px;
         }

         img {
            margin-bottom: 0px;
         }
      }

      .about-content {
         padding: 0px !important;

         .about-title {
            .title-four {
               font-size: 20px;
            }

            .title-three {
               font-size: 22px;
            }
         }

         .about-contents {
            .about-delets1 {
               display: none;
            }

            .about-delets2 {
               display: flex;
            }
         }
      }
   }

   .timeline {
      .tab-content {
         .tab-pane {
            .timeline-detels {
               .timeline-title {
                  .title-four {
                     font-size: 20px;
                  }

                  .title-three {
                     font-size: 22px;
                  }
               }
            }

            .award-box {
               margin: 15px 30px;
            }
         }
      }
   }

   .service-section {
      .service-title {
         .title-four {
            font-size: 20px;
         }

         .title-three {
            font-size: 22px;
         }

      }
   }

   .portfolio-section {
      .portfolio-title {
         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 22px;
         }
      }
   }

   .pricing {
      .pricing-title {
         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 22px;
         }
      }
   }

   .testimonial {
      .testimonial-title {
         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 22px;
         }
      }
   }

   .blog-section {
      .blog-title1 {
         .title-four {
            font-size: 20px !important;
         }

         .title-three {
            font-size: 20px;
         }
      }

      .single-blog-post {
         .blog-content {
            padding: 15px;
         }
      }
   }

   .pagination-area {
      margin-bottom: 30px;
   }

   .pag-area {
      margin-bottom: 0px;
   }

   .contact-section {
      .contact-title {
         .title-four {
            font-size: 20px !important
         }

         .title-three {
            font-size: 22px;
         }
      }

      .info-box {
         margin-bottom: 40px;
      }
   }

   .footer {
      .social-container {

         .social-icons {
            text-align: left;
         }
      }

      .author {
         text-align: center;
         margin-top: 5px;
      }
   }

   .great-start {
      .great-start-contain {
         h4 {
            font-size: 30px !important;
         }
      }
   }

   .features-area-two {
      .services-content {
         .features-title {
            .text-line {

               .title-four {
                  font-size: 20px;
               }
            }

            .title-three {
               font-size: 22px;
            }
         }
      }
   }
   .faq-section {
      .faq-contains {
         .faq-title {
            .text-line {

               .title-four {
                  font-size: 20px
               }
            }

            .title-three {
               font-size: 22px;
            }
         }
      }
   }
}

;

/*
=====================================================
Large devices (desktops, 992px and up)
======================================================
*/
@media (min-width: 992px) and (max-width: 1199.98px) {

   .hero-section {
      .content-title {
         .hero-content {
            .title-one {
               font-size: $font-size2;

               span {
                  font-size: $font-size2;
               }
            }

            .title-three {
               font-size: 35px;

               span {
                  font-size: 35px;
               }
            }
         }
      }
   }

   .about-section {
      .about-content {
         padding-bottom: 36px;

         .about-title {
            .title-three {
               font-size: $font-size;
            }
         }
      }
   }

   .timeline {
      .tab-content {
         .timeline-detels {
            .timeline-title {
               .title-three {
                  font-size: $font-size !important;
               }

            }
         }

         .tab-pane {
            .award-box {
               margin: 30px 30px;
            }
         }
      }
   }

   .service-section {
      .service-title {
         .title-three {
            font-size: $font-size;
         }
      }

      .col-lg-3 {
         .services-box {
            padding-top: 50px;
            padding-bottom: 50px;

            h4 {
               font-size: 18px;
            }
         }
      }
   }

   .portfolio-section {
      .portfolio-title {
         .title-three {
            font-size: $font-size;
         }
      }
   }

   .pricing {
      .pricing-title {
         .title-three {
            font-size: $font-size;
         }
      }
      .pricing-card{
         .pricing-wrap{
            a.link{
               margin: 20px 27.3% 0px 27.3%;
            }
         }
      }
   }

   .testimonial {
      .testimonial-title {
         .title-three {
            font-size: $font-size;
         }
      }
   }

   .blog-section {
      .blog-title1 {
         .title-three {
            font-size: $font-size;
         }
      }

      .single-blog-post {
         .blog-content {
            padding: 20px;
         }
      }
   }

   .contact-section {
      .contact-title {
         .title-three {
            font-size: $font-size;
         }
      }
   }

   .great-start {
      .great-start-contain {

         h4 {
            font-size: 30px !important;
         }
      }

   }
   .features-area-two {
      .services-content {
         .features-title {

            .title-three {
               font-size: $font-size;
            }
         }
      }
   }
   .faq-section {
      .faq-contains {
         .faq-title {

            .title-three {
               font-size: $font-size;
            }
         }
      }
   }
}

;

@media (min-width: 992px) and (max-width: 1070.98px) {
   .footer .author {
      margin-right: 40px;
   }
}

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
======================================================
*/
@media (min-width: 1200px) and (max-width: 1299.98px) {
   .footer .author {
      margin-right: 30px;
   }
}

;